- tagline = "the smart mobile whois"
- meta_description = "Whoisy is an open source project with ruby, sinatra and redis to build a mobile friendly whois client webapp"
%meta{ name: "description", content: meta_description }
%meta{ name: "keywords", content: "whoisy, " }

%meta{ property: "og:title", content: tagline }
%meta{ property: "og:url", content: "http://whoisy.net" }/
%meta{ property: "og:type", content: "website" }/
%meta{ property: "og:site_name", content: "Whoisy" }/
%meta{ property: "og:image", content: "http://whoisy.net/imgs/icon_touch128.png" }/
%meta{ property: "og:description", content: meta_description }/
%meta{ property: "fb:admins", content: "makevoid" }/