%section#src.search
  %form#search{ action: "javascript:void(0);", method: "get" }
    %input#name{ type: "text", name: "name", value: params[:name], autocorrect: "off", autocapitalize: "off" }
    %input#query{ type: "submit", value: ""}
    /%input#prefs{ type: "submit", value: "\xE2\x97\x8E"}

#results  
  %ul
    - unless @results.nil?
      - @results.each do |it|
        = partial(:_whois, it)
