%section#src.search
  %form#search{ action: "javascript:void(0);", method: "get" }
    %input#query{ type: "submit", value: "⇢"}
    %input.domain{ type: "text", name: "domain", value: params[:domain], autocorrect: "off", autocapitalize: "off" }
    /%input#prefs{ type: "submit", value: "\xE2\x97\x8E"}

#results  
  %ul
    - unless @results.nil?
      - @results.each do |it|
        = partial(:_whois, it)

  #plate
    W ★