%section#src.search
  %form#search{ action: "javascript:void(0);", method: "get" }
    %input{ type: "url", name: "name", value: params[:name] }
    %input{ type: "submit", value: "Search"}

#results  
  %ul
    - unless @results.nil?
      - @results.each do |it|
        = partial(:_whois, it)
