@import "libs"

// clearfix

*, html, body
  margin: 0
  padding: 0

html, body 
  height: 100%     
  max-height: 100%
  
img
  border: 0

ul 
  list-style-type: none

li
  display: inline

.clear
  clear: both

a 
  text-decoration: none
  
  
// style

$bg: #DDD
$bg_cont: #FFF
$txt: #222
$main: #999
$alt: #666
$links: #444

@font-face
  font-family: Guardian
  src: url( /fonts/guardian.eot ) /* IE 6,7,8 */  
  
@font-face
  font-family: Guardian
  src: url('/fonts/guardian.otf')
  
body
  background: $bg
  font-family: sans-serif, Helvetica, Arial, Verdana
  color: $txt
  font-size: 120%

a
  color: $links
a:hover
  color: $links + #111

input[type='submit'], input.submit, a.button
  +button
  +color($main)

#container
  width: 85%
  margin: 0 auto 40px 
  padding-top: 30px
  
p 
  font-size: 0.9em
  
h1 
  margin-bottom: 20px
  font-size: 2em
  span
    font-size: 0.55em
    display: block
    
input
  margin: 3px 0 3px
  padding: 2px 5px 3px
  font-size: 1.1em
  
#search input[type='text']
  width: 55%

    
    