/* line 52, ../../sass/libs.sass */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}

/* line 8, ../../sass/whoisy.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 23, ../../sass/whoisy.sass */
body {
  line-height: 1;
}

/* line 25, ../../sass/whoisy.sass */
ol, ul {
  list-style: none;
}

/* line 27, ../../sass/whoisy.sass */
table {
  border-spacing: 0;
}

/* line 30, ../../sass/whoisy.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 32, ../../sass/whoisy.sass */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 34, ../../sass/whoisy.sass */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 39, ../../sass/whoisy.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 58, ../../sass/whoisy.sass */
a {
  text-decoration: none;
}

/* line 61, ../../sass/whoisy.sass */
.clear {
  clear: both;
}

/* line 75, ../../sass/whoisy.sass */
html {
  height: 100%;
}

/* line 78, ../../sass/whoisy.sass */
body {
  background: #111111;
  font-family: Helvetica, sans-serif, Arial, Verdana;
  color: white;
  font-size: 120%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdeda), color-stop(100%, #92949c));
  background-image: -webkit-linear-gradient(#dfdeda, #92949c);
  background-image: -moz-linear-gradient(#dfdeda, #92949c);
  background-image: -o-linear-gradient(#dfdeda, #92949c);
  background-image: -ms-linear-gradient(#dfdeda, #92949c);
  background-image: linear-gradient(#dfdeda, #92949c);
  height: 100%;
  min-height: 100%;
}

/* line 87, ../../sass/whoisy.sass */
a {
  color: #eeeeee;
}

/* line 89, ../../sass/whoisy.sass */
a:hover {
  color: white;
}

/* line 96, ../../sass/whoisy.sass */
.spinner {
  margin: 0 auto;
}

/* line 99, ../../sass/whoisy.sass */
#container {
  margin-bottom: 30px;
}

/* line 111, ../../sass/whoisy.sass */
header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff9cc), color-stop(50%, #ffe100), color-stop(100%, #bb8e00));
  background-image: -webkit-linear-gradient(#fff9cc, #ffe100, #bb8e00);
  background-image: -moz-linear-gradient(#fff9cc, #ffe100, #bb8e00);
  background-image: -o-linear-gradient(#fff9cc, #ffe100, #bb8e00);
  background-image: -ms-linear-gradient(#fff9cc, #ffe100, #bb8e00);
  background-image: linear-gradient(#fff9cc, #ffe100, #bb8e00);
  color: black;
  border-bottom: 2px solid #666666;
  -moz-box-shadow: 0 3px 3px #666666;
  -webkit-box-shadow: 0 3px 3px #666666;
  box-shadow: 0 3px 3px #666666;
}
/* line 117, ../../sass/whoisy.sass */
header .inner {
  width: 93%;
  margin: 0 auto;
  padding: 4px 0;
}
/* line 121, ../../sass/whoisy.sass */
header .inner a {
  color: black;
}
/* line 123, ../../sass/whoisy.sass */
header .inner a:hover {
  color: #4d4d4d;
}

/* line 126, ../../sass/whoisy.sass */
#content {
  margin: 20px auto;
}

/* line 129, ../../sass/whoisy.sass */
section.search {
  width: 93%;
  margin: 0 auto 20px;
}

/* line 133, ../../sass/whoisy.sass */
#plate_top {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3b3b3), color-stop(100%, #4d4d4d));
  background-image: -webkit-linear-gradient(#b3b3b3, #4d4d4d);
  background-image: -moz-linear-gradient(#b3b3b3, #4d4d4d);
  background-image: -o-linear-gradient(#b3b3b3, #4d4d4d);
  background-image: -ms-linear-gradient(#b3b3b3, #4d4d4d);
  background-image: linear-gradient(#b3b3b3, #4d4d4d);
  height: 30px;
}

/* line 137, ../../sass/whoisy.sass */
#plate_bottom {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #333333));
  background-image: -webkit-linear-gradient(#666666, #333333);
  background-image: -moz-linear-gradient(#666666, #333333);
  background-image: -o-linear-gradient(#666666, #333333);
  background-image: -ms-linear-gradient(#666666, #333333);
  background-image: linear-gradient(#666666, #333333);
  height: 200px;
  position: absolute;
  width: 100%;
  top: 0;
}

/* line 144, ../../sass/whoisy.sass */
#results {
  position: relative;
}

/* line 148, ../../sass/whoisy.sass */
#plate {
  font-size: 2.5em;
  margin: 0px auto;
  width: 100px;
  font-family: Times New Roman, Times;
  color: #262626;
  font-weight: bold;
}
/* line 155, ../../sass/whoisy.sass */
#plate span {
  font-size: 0.5em;
  position: relative;
  left: -30px;
  color: #ffe100;
}

/* line 161, ../../sass/whoisy.sass */
#results {
  padding-top: 20px;
}
/* line 164, ../../sass/whoisy.sass */
#results li {
  display: block;
  padding: 5px 10px;
  margin: 0 10px 20px;
  border: 1px solid black;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #808080));
  background-image: -webkit-linear-gradient(#e6e6e6, #808080);
  background-image: -moz-linear-gradient(#e6e6e6, #808080);
  background-image: -o-linear-gradient(#e6e6e6, #808080);
  background-image: -ms-linear-gradient(#e6e6e6, #808080);
  background-image: linear-gradient(#e6e6e6, #808080);
}
/* line 172, ../../sass/whoisy.sass */
#results li h3 {
  display: inline;
}
/* line 174, ../../sass/whoisy.sass */
#results li p {
  font-size: 0.8em;
  display: inline;
}
/* line 177, ../../sass/whoisy.sass */
#results li.avail_true {
  border: 2px solid #349c00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00ff27), color-stop(100%, #00aa00));
  background-image: -webkit-linear-gradient(#00ff27, #00aa00);
  background-image: -moz-linear-gradient(#00ff27, #00aa00);
  background-image: -o-linear-gradient(#00ff27, #00aa00);
  background-image: -ms-linear-gradient(#00ff27, #00aa00);
  background-image: linear-gradient(#00ff27, #00aa00);
}
/* line 180, ../../sass/whoisy.sass */
#results li.avail_true:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009917), color-stop(100%, #00aa00));
  background-image: -webkit-linear-gradient(#009917, #00aa00);
  background-image: -moz-linear-gradient(#009917, #00aa00);
  background-image: -o-linear-gradient(#009917, #00aa00);
  background-image: -ms-linear-gradient(#009917, #00aa00);
  background-image: linear-gradient(#009917, #00aa00);
}
/* line 183, ../../sass/whoisy.sass */
#results li.avail_false {
  border: 2px solid #d10808;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0010), color-stop(100%, #aa0000));
  background-image: -webkit-linear-gradient(#ff0010, #aa0000);
  background-image: -moz-linear-gradient(#ff0010, #aa0000);
  background-image: -o-linear-gradient(#ff0010, #aa0000);
  background-image: -ms-linear-gradient(#ff0010, #aa0000);
  background-image: linear-gradient(#ff0010, #aa0000);
}
/* line 186, ../../sass/whoisy.sass */
#results li.avail_false:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99000a), color-stop(100%, #aa0000));
  background-image: -webkit-linear-gradient(#99000a, #aa0000);
  background-image: -moz-linear-gradient(#99000a, #aa0000);
  background-image: -o-linear-gradient(#99000a, #aa0000);
  background-image: -ms-linear-gradient(#99000a, #aa0000);
  background-image: linear-gradient(#99000a, #aa0000);
}

/* line 189, ../../sass/whoisy.sass */
.whois_box {
  background-color: #aaaaaa;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#aaaaaa));
  background: -moz-linear-gradient(top, white, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#aaaaaa');
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #222222;
  padding: 8px 15px;
}

/* line 196, ../../sass/whoisy.sass */
#results li .whois_box p {
  display: block;
}

/* line 200, ../../sass/whoisy.sass */
p {
  font-size: 0.9em;
}

/* line 203, ../../sass/whoisy.sass */
h1 {
  margin-bottom: 5px;
  font-size: 1.5em;
}
/* line 206, ../../sass/whoisy.sass */
h1 span {
  font-size: 0.55em;
  display: block;
}

/* line 214, ../../sass/whoisy.sass */
input, button {
  font-size: 1.3em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4c4e55), color-stop(100%, #93948e));
  background-image: -webkit-linear-gradient(#4c4e55, #93948e);
  background-image: -moz-linear-gradient(#4c4e55, #93948e);
  background-image: -o-linear-gradient(#4c4e55, #93948e);
  background-image: -ms-linear-gradient(#4c4e55, #93948e);
  background-image: linear-gradient(#4c4e55, #93948e);
  color: white;
  padding: 6px 10px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  -o-border-radius: 13px;
  -ms-border-radius: 13px;
  -khtml-border-radius: 13px;
  border-radius: 13px;
  border: 2px solid #666666;
  -moz-box-shadow: 1px 2px 3px #777777;
  -webkit-box-shadow: 1px 2px 3px #777777;
  box-shadow: 1px 2px 3px #777777;
}
/* line 222, ../../sass/whoisy.sass */
input:focus, button:focus {
  -moz-box-shadow: 1px 2px 5px #222222;
  -webkit-box-shadow: 1px 2px 5px #222222;
  box-shadow: 1px 2px 5px #222222;
}

/* line 227, ../../sass/whoisy.sass */
section, form {
  display: block;
  width: 100%;
  margin-right: 20px;
}

/* line 234, ../../sass/whoisy.sass */
input.domain {
  width: 95.882%;
}

/* line 237, ../../sass/whoisy.sass */
input[type=submit], button.refresh {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #60615b), color-stop(100%, #1c1d1f));
  background-image: -webkit-linear-gradient(#60615b, #1c1d1f);
  background-image: -moz-linear-gradient(#60615b, #1c1d1f);
  background-image: -o-linear-gradient(#60615b, #1c1d1f);
  background-image: -ms-linear-gradient(#60615b, #1c1d1f);
  background-image: linear-gradient(#60615b, #1c1d1f);
  color: #ffe100;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 0px 0px 1px #ffe100;
  border: 2px solid #666666;
}
/* line 244, ../../sass/whoisy.sass */
input[type=submit]:hover, button.refresh:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #040404), color-stop(100%, #60615b));
  background-image: -webkit-linear-gradient(#040404, #60615b);
  background-image: -moz-linear-gradient(#040404, #60615b);
  background-image: -o-linear-gradient(#040404, #60615b);
  background-image: -ms-linear-gradient(#040404, #60615b);
  background-image: linear-gradient(#040404, #60615b);
  color: #ffed66;
  text-shadow: 0px 0px 4px #ffe100;
}
/* line 248, ../../sass/whoisy.sass */
input[type=submit]:active, button.refresh:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #2c2c2a));
  background-image: -webkit-linear-gradient(#000000, #2c2c2a);
  background-image: -moz-linear-gradient(#000000, #2c2c2a);
  background-image: -o-linear-gradient(#000000, #2c2c2a);
  background-image: -ms-linear-gradient(#000000, #2c2c2a);
  background-image: linear-gradient(#000000, #2c2c2a);
  border-color: #ffe100;
}

/* line 252, ../../sass/whoisy.sass */
input[type=submit] {
  right: 3.618%;
  padding: 0 20px 0;
  position: absolute;
  font-size: 1.8em;
}

/* line 258, ../../sass/whoisy.sass */
.ios input[type=submit] {
  font-size: 1.6em;
}

/* line 261, ../../sass/whoisy.sass */
input#prefs {
  font-size: 1.08em;
  padding: 2px 2px;
  width: 2em;
}

/* line 266, ../../sass/whoisy.sass */
#src, header {
  -webkit-animation-name: changeScale;
  -webkit-transition: all 0.5s ease-in-out;
}

/* line 270, ../../sass/whoisy.sass */
.search {
  display: none;
}

/* line 273, ../../sass/whoisy.sass */
#details {
  opacity: 0;
  display: none;
  position: absolute;
  padding: 20px 5%;
  width: 90%;
  -webkit-transition: opacity 0.8s ease-in-out;
}
/* line 280, ../../sass/whoisy.sass */
#details .cont {
  display: block;
  color: #222222;
}

/* line 284, ../../sass/whoisy.sass */
#details.open {
  display: block;
}

/* line 287, ../../sass/whoisy.sass */
#details.close {
  opacity: 0;
}

/* line 290, ../../sass/whoisy.sass */
button.refresh {
  float: right;
  width: 35px;
  height: 35px;
  margin: 10px;
  font-size: 0.9em;
  padding: 0;
}

/* line 299, ../../sass/whoisy.sass */
.standalone_gradient {
  height: 0px;
  color: white;
}
